#root {
  height:100%;
  position:relative;
  max-width:630px;
  margin:auto;
}

.chat__container {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    height:700px;
    max-width:630px;
}

.chat__scroll-dummy {
    margin-top:12rem;
}

.reply__container {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #00c397;
    width:100%;
    height: 5em;
    background-color:white;
}